/* body { */
    /* background-color: #f2e0f2; */
   /* margin:0; */
    /* padding: 0; */
  /* } */
  .assessment-container {
    width: 80%;
    margin: 20px auto ;
    padding: 20px;
    text-align: center;
    position: relative;  
    overflow: hidden; 
    background-color: white; 
    /* box-shadow: 0 0 10px #e8a5c8;  */
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .image-section {
    flex: 2;
    padding: 15px;
  }
  .image-section img {
    width: 100%; 
    height: auto; 
  }
  .carousel-section {
    flex: 3;
    padding: 10px;
    background-color: white;
    /* box-shadow: 0 0 10px #f0c9de; */
  }
  .assessment-heading {
    color: #d75585;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .carousel-wrapper {
    position: relative;
  }
  
  .carousel-wrapper::before,
  .carousel-wrapper::after {
    
    position: absolute;
    top: 0;
    bottom: 0;
    width: 10%;
    z-index: 2;
    pointer-events: none;
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 1) 100%);
}

.carousel-wrapper::before {
  left: 0;
}

.carousel-wrapper::after {
  right: 0;
  transform: scaleX(-1);
}

.carousel-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 1px #ccc;
  border-radius: 15px;
  background-color: #f2e0f2;
  box-shadow: 0 2px 4px #e8a5c8;
  z-index: 1;
  position: relative;
}

.carousel-slide .carousel-slide h3 {
  color: #de7089;
}

.response-input {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  /* border: 1px solid ; */
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 0 10px #f8bbdd;
}

.submit-button {
  margin: 20px 20px;
  padding: 10px 20px;
  background-color: #de7089;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #e02b55;
}

.next-button {
  background-color: #de7089;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin: 20px 20px;
}

.next-button:hover {
  background-color: #e02b55;
}