  
  .Box {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99999999;
    width: 100%;
    height: 100%;
    background: linear-gradient(#2f1e26, #b03460);

}

.Box1 {
    display: flex;
    position: absolute;
    width: 50dvw;
    height: 80dvh;
    border-radius: 20px;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid gray;
}

.Container {
    width: 50%;
    height: 100%;
    background-color: #fffdfd;
    color: #1d1d25;
    text-align: center;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Input {
    width: 80%;
    color: #3d262b;
    background-color: #e2e2e2;
    height: 40px;
    border-radius: 30px;
    border: none;
    margin-top: 2px;
    padding: 5px 15px;
    outline: none;
}

.Buttons {
    color: white;
    width: fit-content;
    min-width: 30%;
    height: 40px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 30px;
    border: none;
    padding: 10px 15px;
    /* background-color: #de7188; */
    background-color: #fe4f5b;
}

.Cros {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: red;
    color: white;
    Position: absolute;
    right: 20px;
    top: 20px;
    transform: translate(50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99999999999999;
}