.sec1 {
    width: 100%;
    height: 75vh;
    position: relative;
    background: linear-gradient(#e9c5e5, #f091b3);
}

.leftTitle {
    position: absolute;
    width: 40%;
    height: 70%;
    top: 30%;
    padding-left: 10vw;
    /* color: white; */
  /* color: #d65485; */
}

.btn {
    width: fit-content;
    padding: 15px;
    border-radius: 30px;
    background-color: #d65485;
}
.p2{
    width:100%;
    height: 90vh;
    padding: 10px;
}